.table1-div{
    width: 96%;;
    margin-top: 20px;
    margin-right: auto;
    margin-left:auto;

    .card-title{
        margin-bottom: 0.75rem;
        color: white;
        height: 51px;
        display: flex;
        background: #288ba2;
        align-items: center;
        justify-content: center;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
      }
      .grid-item {
        font-size: 14px;      
        margin: 5px;
      }

    .label{
        width:95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;
        max-height: 45px;
        .label-div{
            display: inline;
            flex: 0.4 0.6;
        }

        .input{
            min-height: 40px;
            min-width: 150px;
            border: none;
            border-bottom: 2px solid #cac3c3;
            font-family: monospace;
            font-size: 15px;
            flex: 0.6;
        }
        
    }
    
    .btn{
        display: block;
        margin-top: 50px;
        width: 100px;
        /* margin-right: auto; */
        margin-left: auto;
        background: #288ba2;
    }

}
.ant-select ant-select-enabled{
    flex: 0.6 !important;
}