.wrap{
    display: flex;
    min-height: 300px;
    margin-bottom: 50px;
    border: 0.1px solid #cac3c3;
    overflow: scroll;
}
.table3{
    width: 75vw;
    height: fit-content;
    min-width: 900px;
   

    input{
        border: none;
        height: 30px;
        max-width: 190px;
    }
    
    .ant-select, .ant-select-enabled{
        width:167px;
        height: 30px;
    }
    input[type="checkbox"] {
        width: 14px;
        margin: auto;
        display: block;
    }

    td{
        height: 30px !important;
    }
}

.addRow{
    color: white;
    background: #288ba2;
    height: 35px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    display: flex;
    justify-content: center;
}

