.table3{
    width: 60%;

    input{
        border: none;
        height: 30px;
        max-width: 190px;
        background: rgba(232, 232, 232, 0.276);
    }
    .ant-select, .ant-select-enabled{
        width:167px;
        height: 30px;
    }
}

.addRow{
    width: 972px;
    color: white;
    background: #288ba2;
    border: none;
    margin-bottom: 100px;
}
