
.secondDiv{
    overflow: scroll;
    width: 98%;
    margin-bottom: 100px;

    .table2{
        margin: 20px;
        margin-top: -30px;
        max-width:99%;
        overflow: scroll;


        input{
            border: none;
            height: 30px;
            max-width: 190px;
            background: rgba(232, 232, 232, 0.276);
        }
        .ant-select, .ant-select-enabled{
            width:167px;
            height: 30px;
        }

    }
}



.tab-p{
    margin-top: 40px;
}