
.secondDiv{
    overflow: scroll;
    width: 100%;
    margin-bottom: 50px;

    .table2{
        margin-top: -30px;
        width:auto;
        overflow: scroll;
        font-size: 14px;


        th{
            padding:0;
            padding-top: 7px;
            padding-left: 4px;
        }
        input{
            border: none;
            height: 30px;
            max-width: 190px;
            min-width: 140px;
        }
        .ant-select, .ant-select-enabled{
            width:167px;
            height: 30px;
        }

    }
    
        
    
    
    .ant-checkbox-group{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .ant-checkbox-wrapper {
        font-size: 18px;
        top:0px;
        display:block;
    }
    
    
}
.tab-p{
    margin-top: 40px;
}

.action-div {
    max-width: 50px;
    margin: auto;

    .material-symbols-outlined{
        width: 20px;
        
        font-weight: 400;
        font-size: 20px;
        background: #dbae58;
        color: white;
        cursor: pointer;
        margin: 2px;
        transition: 0.2s ease-in-out;

        &:hover{
            scale:1.2;
            transition: 0.2s ease-in-out;
        }
    }
    .add-icon:hover{
        background: green;
        transition: 0.2s ease-in-out;
    }
    .delete-icon:hover{
        background: red;
        transition: 0.2s ease-in-out;
    }
}

.btn:hover{  
    background: #dbae58 !important; 
}
th.action-col,td.action-col{
    display: block;
    min-width: 55px;
    right: 0;
    position: sticky;
    padding: 0px;  
    box-shadow: -1px 0px 1px rgb(218, 218, 218);
    border: 0.1px solid #cac3c3;
    z-index: 2;
}
th.action-col{
    background: #288ba2 ;
    height: 50px;
    padding:0;
    padding-top: 7px;
    padding-left: 4px;
}
td.action-col{
    background: white ;
    height: 33px;
}