.navbar{

    height: 40px;
    background: #fff;
    justify-content: end !important;

    .btn{
        color: white !important;
        background: #288ba2;
        height: 35px;
        margin-bottom: 0px;
        margin-right:20px;
        border: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;    
        display: flex;
        justify-content: center;
    }
    
    
}