.fourth-table-div{
    width: 75vw;
    min-width: 900px;
    border: 0.1px solid #cac3c3;
    min-height: 300px;
    max-width: 99%;
    overflow: scroll;

    table{
        width: auto;
    }
    th,td{
        height: 30px;
        
        input{
            width: 138.1px;
        }
    }
    p{
        width: 138px;
        height: 10px;
    }

    .totalDiv4{
        position: absolute;
        background: pink;
        color: black;
        height: 30px;
        margin-top: 10px;
        width: 785px;
        margin-left: 190px;
    
        p{
            display: inline-block;
            top:7px;
            max-width: 50px;
            margin-left: 70px;
            font-size: 18px;
            opacity: 5;
        }
        .total-col{
            display: inline;
        }
        .total{
            margin-left:140px;
            font-size: 16px;
        }
    }
}
